<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Phàm Nhân Tu Tiên - Chi Tiết Truyện</title>
<link rel="stylesheet" href="/css/kindle.css">
</head>
<body>
<h1>KDA KINDLE READER</h1>
<table class="kindle-nav">
<tr>
<td><a href="/"><b>[1. BÁO CHÍ]</b></a></td>
<td><a href="/books"><b>[2. TRUYỆN CHỮ]</b></a></td>
<td><a href="/comics"><b>[3. TRUYỆN TRANH]</b></a></td>
</tr>
</table>
<hr>

<h2>Phàm Nhân Tu Tiên</h2>
<p><b>Tác giả: Vong Ngữ | Thể loại: Tiên Hiệp</b></p>
<p>Một thiếu niên bình thường ở thôn quê tên Hàn Lập, tình cờ bước vào một môn phái nhỏ ở giang hồ, bắt đầu con đường tu tiên đầy chông gai...</p>

<h3>DANH SÁCH CHƯƠNG</h3>
<div class="test-box">
<p>• <a href="/book/chapter?id=b1&amp;chap=1"><b>Chương 001: Sơn Thôn Thiếu Niên</b></a></p>
<p>• <a href="/book/chapter?id=b1&amp;chap=2"><b>Chương 002: Thất Huyền Môn</b></a></p>
<p>• <a href="/book/chapter?id=b1&amp;chap=3"><b>Chương 003: Mặc Bác Sĩ</b></a></p>
</div>

<hr>
<table class="kindle-nav">
<tr>
<td><a href="/"><b>[VỀ TRANG CHỦ]</b></a></td>
<td><a href="#top"><b>[VỀ ĐẦU TRANG ▲]</b></a></td>
</tr>
</table>
</body>
</html>
