<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Phàm Nhân Tu Tiên - Chương 2</title>
<link rel="stylesheet" href="/css/kindle.css">
</head>
<body>
<h1>KDA KINDLE READER</h1>
<table class="kindle-nav">
<tr>
<td><a href="/"><b>[1. BÁO CHÍ]</b></a></td>
<td><a href="/books"><b>[2. TRUYỆN CHỮ]</b></a></td>
<td><a href="/comics"><b>[3. TRUYỆN TRANH]</b></a></td>
</tr>
</table>
<hr>

<h2>Phàm Nhân Tu Tiên</h2>
<h3>Chương 002: Thất Huyền Môn</h3>

<p>
<a href="/book/chapter?id=b1&amp;chap=1" class="btn">[◄ Chương 1]</a>
<a href="/book/detail?id=b1" class="btn">[Danh Sách Chương]</a>
<a href="/book/chapter?id=b1&amp;chap=3" class="btn">[Chương 3 ►]</a>
</p>

<div class="test-box font-normal">
<p>Thất Huyền Môn nằm ở ngọn núi Thái Nam, địa thế hiểm trở. Hàn Lập cùng người bạn thân Trương Thiết được đưa lên núi từ sáng sớm...</p>
<p>Con đường lên núi dốc đứng, mây mù bao phủ. Trương Thiết thở hống hộc, nhưng mắt rực sáng niềm hy vọng. Hàn Lập lặng lẽ quan sát xung quanh, ghi nhớ từng khúc quanh của con đường.</p>
</div>

<p>
<a href="/book/chapter?id=b1&amp;chap=1" class="btn">[◄ Chương 1]</a>
<a href="/book/detail?id=b1" class="btn">[Danh Sách Chương]</a>
<a href="/book/chapter?id=b1&amp;chap=3" class="btn">[Chương 3 ►]</a>
</p>

<hr>
<table class="kindle-nav">
<tr>
<td><a href="/"><b>[VỀ TRANG CHỦ]</b></a></td>
<td><a href="#top"><b>[VỀ ĐẦU TRANG ▲]</b></a></td>
</tr>
</table>
</body>
</html>
