<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{TITLE}}</title>
<link rel="stylesheet" href="/css/kindle.css">
</head>
<body>
<h1>KDA KINDLE READER</h1>
<table class="kindle-nav">
<tr>
<td><a href="/news"><b>[1. BÁO CHÍ & TECH]</b></a></td>
<td><a href="/books"><b>[2. TRUYỆN CHỮ]</b></a></td>
<td><a href="/comics"><b>[3. TRUYỆN TRANH]</b></a></td>
</tr>
</table>
<hr>

<h2>{{TITLE}}</h2>
<div class="test-box">
{{ITEMS}}
</div>

<p><a href="/news" class="btn">[◄ Về Danh Mục Báo]</a></p>

<hr>
<table class="kindle-nav">
<tr>
<td><a href="/"><b>[VỀ TRANG CHỦ]</b></a></td>
<td><a href="#top"><b>[VỀ ĐẦU TRANG ▲]</b></a></td>
</tr>
</table>
</body>
</html>
