<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cổng Báo Chí Việt Nam - KDA Kindle</title>
<link rel="stylesheet" href="/css/kindle.css">
</head>
<body>

<h1>KDA KINDLE READER</h1>
<table class="kindle-nav">
<tr>
<td><a href="/news"><b>[1. BÁO CHÍ VIỆT NAM]</b></a></td>
<td><a href="/books"><b>[2. TRUYỆN CHỮ]</b></a></td>
<td><a href="/comics"><b>[3. TRUYỆN TRANH]</b></a></td>
</tr>
</table>
<hr>

<h2>CHỌN TRANG BÁO CHÍ VIỆT NAM</h2>
<p>Danh sách 8 nguồn tin tức báo chí hàng đầu cập nhật 24/7:</p>

<table class="kindle-table">
<tr>
  <td style="width: 50%;"><a href="/news?src=vnexpress" class="btn"><b>1. VnExpress</b></a><br><small>Tin mới nhất 24/7</small></td>
  <td style="width: 50%;"><a href="/news?src=dantri" class="btn"><b>2. Báo Dân Trí</b></a><br><small>Sự kiện nổi bật</small></td>
</tr>
<tr>
  <td><a href="/news?src=cafef" class="btn"><b>3. Báo CafeF</b></a><br><small>Tài chính & Chứng khoán</small></td>
  <td><a href="/news?src=vietnamnet" class="btn"><b>4. Báo VietNamNet</b></a><br><small>Thời sự & Chính trị</small></td>
</tr>
<tr>
  <td><a href="/news?src=thanhnien" class="btn"><b>5. Báo Thanh Niên</b></a><br><small>Tin tức & Đời sống</small></td>
  <td><a href="/news?src=vtcnews" class="btn"><b>6. Báo VTC News</b></a><br><small>Tin nóng xã hội</small></td>
</tr>
<tr>
  <td><a href="/news?src=luatvietnam" class="btn"><b>7. Luật Việt Nam</b></a><br><small>Văn bản pháp luật mới</small></td>
  <td><a href="/news?src=doisongphapluat" class="btn"><b>8. Đời Sống & Pháp Luật</b></a><br><small>Pháp luật & Xã hội</small></td>
</tr>
</table>

<hr>
<p><a href="/" class="btn"><b>[◄ Quay Về Trang Chủ]</b></a></p>

</body>
</html>
